<app-navbar></app-navbar>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    @for (slide of slides; track slide.img) {
    <div ngxSlickItem class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
    }
</ngx-slick-carousel> 

<div class="container">
    <h1 class="center">Welcome to our travel agency</h1>
    <app-list-tickets></app-list-tickets>

    <h2 class="center space">Our privilege cards</h2>
    <a href="/privilege-cards/purchase"><p class="center">Buy our privilege cards to get up to 50% discounts on your travels !</p></a>

</div>
    <p class="center">Buy our privilege cards to get up to 50% discounts on your travels !</p>
</div>
