h2 {
    text-align: center;
    margin: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.example-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 650px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    transition: max-width 0.3s ease-in-out;
}

.mat-card-content {
    padding: 20px;
    width: 100%;
    flex-grow: 1; 
}

.card-details h3 {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 1rem;
}

.card-details p,
.card-details div {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0.5rem;
    white-space: pre-wrap;
}

.card-actions {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

button {
    padding: 10px 25px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 3.8rem;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #3700b3;
}

.card-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 4px;
    transition: max-height 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .example-card {
        flex-direction: row;
        align-items: flex-start;
    }

    .mat-card-content {
        flex: 1;
        align-items: flex-start;
        padding-right: 20px;
    }

    .card-image {
        width: auto;
        max-width: 250px;
        max-height: 100%;
        margin-left: auto;
        order: 1;
    }

    .card-actions {
        order: 2;
        width: auto;
        justify-content: flex-start;
        align-self: center;
        padding: 0 20px 20px 20px;
    }
}

.no-cards-message {
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
    color: #6c757d;
}