.cards-container {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  border: 1px solid #dcdcdc; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  border-radius: 10px; 
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  background-color: #fff;
}

.card img {
  max-width: 100%;
  display: block;
  height: 200px;
}

.card-details {
  padding: 20px;
  text-align: center;
}

.card-details h3 {
  color: #333;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-details p {
  color: #555;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

.card .card-actions {
  text-align: center;
}

.card .card-actions button {
  background-color: hsl(259, 94%, 45%);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
  text-align: center;
  align-self: center;
  margin: auto;
  transition: background-color 0.3s;
}

.card .card-actions button:hover {
  background-color: #0056b3;
}

.card .mat-card-content {
  padding: 20px !important;
  text-align: center;
}

.card .mat-card-content h3 {
  color: #333;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

.card .mat-card-content p {
  color: #555;
  line-height: 1.6;
}

button {
  background-color: hsl(259, 94%, 45%);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
  text-align: center;
  align-self: center;
  margin: auto;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}