<div class="cards-container" [ngStyle]="{'max-width': isAdmin ? '800px' : '1200px'}">
  <h2>Available Privilege Cards</h2>
  <mat-card *ngFor="let card of cards" class="card">
    <div class="card-header">
      <img mat-card-image [src]="card.imageUrl" alt="Privilege Card Image">
      <button mat-icon-button *ngIf="isAdmin" class="delete-button" (click)="onDeleteCard(card.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-card-content class="card-details">
      <h3>{{ card.name }}</h3>
      <p>{{ card.description }}</p>
      <p><strong>Price:</strong> {{ card.price }} ETH</p>
      <p><strong>Quantity:</strong> {{ card.quantity }}</p>
      <p><strong>Discount Rate:</strong> {{ card.discountRate }}%</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button color="primary" *ngIf="!isAdmin && card.quantity > 0"
        (click)="purchaseCard(card.id, card.price)">Purchase</button>
    </mat-card-actions>
  </mat-card>
  <app-edit-privilege-card *ngIf="isAddingCard && isAdmin"></app-edit-privilege-card>
  <button mat-raised-button class="add-new-card" color="primary" *ngIf="isAdmin" (click)="isAddingCard = !isAddingCard">
    {{ isAddingCard ? 'Cancel' : 'Add New Privilege Card' }}
  </button>
</div>