<div class="cards-container-title">
  <h2>Buy our ticket</h2>
  <div class="cards-container">
    <mat-card *ngFor="let ticket of availableTickets" class="card">
      <div class="card-header">
        <img mat-card-image [src]="ticket.imageUrl" alt="Ticket">
      </div>
      <mat-card-content class="card-details">
        <h3>{{ ticket.ticketType }}</h3>
        <p>{{ ticket.description }}</p>
        <p><strong>Discounted Price:</strong></p>
        <p>
          <span><s> {{ticket.defaultPrice }} </s>ETH </span>
          <strong>{{ ticket.discountedPrice }} ETH</strong>
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-raised-button color="primary" (click)="purchaseTicket(ticket.ticketType)">Purchase</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>